@import model._
@(history: List[(History, Security)])
<html lang="ru">
    <head>
        <title>List history</title>
    </head>
    <body>
        @helper.form(action = routes.MainController.listPost){
        <p>
            <input type="radio" name="sort_type" value="asc">По возрастанию</input>
            <input type="radio" name="sort_type" value="desc" checked>По убыванию</input>
            <select name="column">
                <option value="secid" selected>secid</option>
                <option value="regnumber">regnumber</option>
                <option value="name">name</option>
                <option value="emitent_title">emitent title</option>
                <option value="tradedate">tradedate</option>
                <option value="numtrade">numtrade</option>
                <option value="open">open</option>
                <option value="close">close</option>
            </select>
        </p>
        <p>
            <input type="submit">
        </p>
        }
        @message
        <table border="1">
            <tr>
                <th>secid</th>
                <th>regnumber</th>
                <th>name</th>
                <th>emitent title</th>
                <th>tradedate</th>
                <th>numtrade</th>
                <th>open</th>
                <th>close</th>
            </tr>
            @for(element <- history){
            <tr>
                <td>@element._2.secid</td>
                <td>@element._2.regnumber</td>
                <td>@element._2.name</td>
                <td>@element._2.emitent_title</td>
                <td>@element._1.tradedate</td>
                <td>@element._1.numtrade</td>
                <td>@element._1.open</td>
                <td>@element._1.close</td>
            </tr>
            }
        </table>
    </body>
</html>