@import model._
@(sec: Security, error: String)
<html>
    <head>
        <title>Update database entry</title>
    </head>
    <body>
    @helper.form(action = routes.CRUDController.updatePost){
        <p><input type="text" name="secid" value="@sec.secid" readonly>Secid</input></p>
        <p><input type="text" name="regnumber" value="@sec.regnumber">Regnumber</input></p>
        <p><input type="text" name="name" value="@sec.name">Name</input></p>
        <p><input type="text" name="emitent_title" value="@sec.emitent_title">Emitent title</input></p>
        <input type="submit">
    }
    @error
    </body>
</html>